*{
    padding:0;
    margin:0;
    border:none;
    font-size: 1.5625vw;
    font-family: "微软雅黑";
}
html,body{
    height:100%;
}
body{
    overflow: hidden;
    position: relative;
}
#music{
    border-radius: 50%}
.music{
    width:15vw;
    height:15vw;
    border:4px solid #ef1639;
    position: fixed;
    top:3vh;
    right:4vw;
    z-index: 5;
    border-radius: 50%;
    background-color: #fff;
}
.music>img:first-of-type{
    position: absolute;
    top:24%;
    right: 2.5%;
    width: 28.421%;
    z-index:1;
}
.music>img:last-of-type{
    position: absolute;
    top:0;
    right:0;
    bottom: 0;
    left:0;
    margin:auto;
    width:79%;
}
.page{
    height:100%;
    position: absolute;
    width:100%;
}
#page1{display:block}
.page>.bg{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index:-1;
}
#page1>.bg{background: url(../images/TIMO_02.jpg) no-repeat center center;
    background-size: 170%}
.top{background: url(../images/up.png) no-repeat center center;
    background-size: 100%;
    width: 8vw;
    height: 4vh;
    position: absolute;
    bottom:2%;
    left:50%;
    z-index: 999}
.p1{position: absolute;
    top:48%;
    right:0;
    left:0;
    z-index: 2;
    margin:auto;
    width:64vw;
    height:5vh;
    font-size: 4.506rem;
    text-align: center;
    color:red;
    font-weight: bold}
.p2{position: absolute;
    top:-40%;
    right:50%;
    left:50%;
    z-index: 2;
    margin:auto;
    width:34vw;
    height:5vh;
    font-size: 4.506rem;
    text-align: center;
    color:red;
    font-weight: bold}
.p3{position: absolute;
    top:66%;
    right:0;
    left:0;
    z-index: 2;
    margin:auto;
    width:60vw;
    height:5vh;
    font-size: 4.506rem;
    text-align: center;
    color:red;
    font-weight: bold}
#page2>.bg{background: url(../images/p1_bg2.jpg) no-repeat center center;
    background-size: 116%}
#page2{
    display: none;
    transition:0.5s;
    -webkit-transition:0.5s;
}
#page3>.bg{background: url(../images/4.jpg) no-repeat center center;
    background-size: 130%}
#page3{
    display: none;
    transition:0.5s;
    -webkit-transition:0.5s;
}
#qiu{width: 45vw;
    height: 45vw;
    border-radius: 50%;
    background: yellow;
    position: absolute;
    top:35%;
    right: 25%;
    font-size: 16vw;
    line-height: 40vw;
    text-align: center;}
#qiu1{width: 10vw;
    height: 10vw;
    border-radius: 50%;
    position: absolute;
    top:15%;
    right: 5%;}
#qiu2{width: 10vw;
    height: 10vw;
    border-radius: 50%;
    position: absolute;
    top:85%;
    right: 85%;}
#p1{
    width: 0vw;
    height: 10vh;
    position: absolute;
    top:15%;
    right: 15%;
    font-size: 6vw;
    color: red
}
#page4{
    display: none;
    transition:0.5s;
    -webkit-transition:0.5s;
}
#page4>.bg{background: url(../images/2_2.jpg) no-repeat center center;
    background-size: 110%}
#p_1{width:44vw;
    height: 50vh;
    position: absolute;
    top:15%;
    left: 2%;
    font-size: 6vw;
    color:  #E066FF;
    display: none
} 
#aa{width:44vw;
    height: 50vh;
    position: absolute;
    top:15%;
    left: 2%;
    font-size: 6vw;
    color:  #E066FF;
}
